body{
    font-family: 'Courgette', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1{
    font-size: 65px;
}
h2{
    font-size: 40px;
}
p{
    color: rgb(142, 132, 132);
}
.banner-sec{
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    color: white;
    padding: 80px 40px;
}
.banner-img img{
    width: 100%;
    height: auto;
}
.button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 5px;
}
.button:hover{
    background-color: #fc0861;
    padding: 15px 30px;
    border-radius: 5px;
}
.player-sec{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   grid-row-gap: 20px;
   grid-column-gap: 20px;
   margin: 80px 200px;
}
.players{
    padding: 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
.player-img{
    width: 100%;
    height: auto;
}
.match-sec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-column-gap: 60px;
    text-align: justify;

}
.match-img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.winner{
text-align: center;
margin-top: 100px;
}
.cup-sec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
}
.cup-img{
    width: 100%;
    height: auto;
}
.footballer-img{
    width: 60%;
    height: auto;
}
footer{
    text-align: center;
    margin-top: 150px;
    width: 100%;
    height: 300px;
}
.footer-img{
    width: 30%;
    height: auto;
}
.icons img{
    width: 18px;
    height: 18px;
    
}
small{
    width: 13px;
    height: 13px;
}





    /* Mobile  */
    @media screen and (min-width:200px) and (max-width:767px) {
        .banner-sec{
            grid-template-columns: repeat(1, 1fr);
           justify-content: center;
           grid-row-gap: 100px;
        }
        .player-sec{
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: center;
            margin: 50px 10px;
            
        }
        .match-sec{
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            margin: 20px 20px;
            grid-row-gap: 50px;
            
        }
        .cup-sec{
            grid-template-columns: repeat(1, 1fr);
           justify-content: center;
           align-items: center;
        }
    }

    /* tablet */ 
    @media screen and (min-width:768px) and (max-width:1023px){
        .banner-sec{
            grid-template-columns: repeat(2, 1fr);
           justify-items: center;
           grid-row-gap: 100px;
        }
        .player-sec{
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            margin: 50px 10px;
            
        }
        .match-sec{
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            margin: 80px 30px;
            grid-row-gap: 50px;
            
        }
        .cup-sec{
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }
    }

    /* laptop */
    @media screen and (min-width:1024px) {
        .banner-sec{
            grid-template-columns: repeat(2, 1fr);
           justify-content: center;
           justify-items: center;
           align-items: center;
           grid-row-gap: 100px;
        }
        .player-sec{
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            margin: 100px 200px;
           
            
        }
        .match-sec{
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            margin: 80px 100px;
            grid-row-gap: 50px;
            
        }
        .cup-sec{
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }
    }    
    
  
    
   